// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
$color-primary: rgba(250, 0, 246, 0.5);
$color-secondary: rgb(0, 48, 100);
$accent-color: rgb(45, 191, 172);
$background-color: rgb(41, 40, 41);
$surface-color: rgb(41, 40, 41, 0.50);
